Django==1.6.5
PyYAML==3.11
argparse==1.2.1
beautifulsoup4==4.3.2
coverage==3.7.1
htmlmin==0.1.5
pep8==1.5.7
py==1.4.20
pyflakes
python-coveralls==2.4.2
python-dateutil==2.2
requests==2.20.0
sh==1.09
six==1.7.2
storytracker==0.0.4
tox==1.7.1
virtualenv==1.11.6
